{% extends 'base.html' %}

{% block title %}Posts list{% endblock %}

{% block content %}
<ul>
  {% for post in object_list %}
      <li>{{ post.created|date }} - {{ post.title }}</li>
  {% empty %}
      <li>No posts yet.</li>
  {% endfor %}
</ul>
{% endblock %}